services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.6
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=107
      - TZ=Europe/Zurich
      - JELLYFIN_PublishedServerUrl=https://jellyfin.cosmos.cboxlab.com
    volumes:
      - /mnt/data/jellyfin/config:/config
      - /mnt/data/jellyfin/transcodes:/config/cache/transcodes
      - /mnt/tv:/tv
    devices:
      - /dev/dri:dev/dri:rwm
    cap_add:
      - SYS_ADMIN
      - MKNOD
    ports:
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
      - 8096:8096/tcp
    expose:
      - 8096
    restart: unless-stopped
    networks:
      - traefik_proxynetwork
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.cosmos.cboxlab.com`) || Host(`jellyfin-public.cosmos.cboxlab.com`)"
    - "traefik.http.routers.jellyfin.entrypoints=websecure"
    - "traefik.http.routers.jellyfin.middlewares=jellyfin-ws"
    - "traefik.http.middlewares.jellyfin-ws.headers.customrequestheaders.Upgrade=websocket"
    - "traefik.http.middlewares.jellyfin-ws.headers.customrequestheaders.Connection=Upgrade"
    - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    - "traefik.http.routers.jellyfin.tls=true"
    - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt"
    - "traefik.http.routers.jellyfin.tls.domains[0].main=cosmos.cboxlab.com"
    - "traefik.http.routers.jellyfin.tls.domains[0].sans=*.cosmos.cboxlab.com"
networks:
  traefik_proxynetwork:
    external: true
